@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center-align"><h5>ACCOUNT LOGIN</h5></span>
                    <form id="account" method="post">
                        <div asp-validation-summary="ModelOnly" class="red-text"></div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input asp-for="Input.Email" class="validate" />
                                <label asp-for="Input.Email">Email</label>
                                <span asp-validation-for="Input.Email" class="red-text"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input asp-for="Input.Password" type="password" class="validate" />
                                <label asp-for="Input.Password">Password</label>
                                <span asp-validation-for="Input.Password" class="red-text"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s12">
                                <label>
                                    <input asp-for="Input.RememberMe" type="checkbox" />
                                    <span>Remember me?</span>
                                </label>
                            </div>
                        </div>

                        <div class="row center-align" style="margin-top: 20px;">
                            <button type="submit" class="btn waves-effect waves-light blue darken-2" style="width:100%">LOG IN</button>
                        </div>
                    </form>

                    @* KHỐI ĐĂNG NHẬP BẰNG GOOGLE *@
                    <div class="row center-align">
                        <p>--- OR ---</p>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) > 0)
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div>
                                        @foreach (var provider in Model.ExternalLogins!)
                                        {
                                            <button type="submit" class="btn waves-effect waves-light red darken-1"
                                                    style="width:100%" name="provider" value="@provider.Name"
                                                    title="Log in using your @provider.DisplayName account">
                                                <i class="material-icons left">account_circle</i>
                                                ĐĂNG NHẬP BẰNG @provider.DisplayName.ToUpper()
                                            </button>
                                        }
                                    </div>
                                </form>
                            }
                        }
                    </div>
                </div>
                <div class="card-action center-align">
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a> |
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>